.title {
    text-align: center;
}
.column {
    display: inline-block;
    font-size: large;
}
.bigfont {
    font-size: xx-large;
}
table {
    width: 50%;
    margin: auto;
}
tr,td {
    text-align: center;
    padding: 10px;
}